.btn{
    background-color:#21B573;
    
}
h1{
    font-size: 48px;
}
.an{
    background-color: #F8FFFB;
}

.an:hover{
    background-color: white;
    box-shadow: 1px 2px 50px 1px rgb(119, 116, 116);
    border-radius: 15px;
}

.card-footer{
    border: none;
}
h5:hover{
    color: #21B573;
}
h6:hover{
    color: yellow;
}
